<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="//cdn.bootcss.com/require.js/2.1.22/require.js" data-main="js/main"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet/less" type="text/css" href="less/index.less" />
	</head>
	<script>
		require(['../module/app']);
	</script>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="index2.html">Brand</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#login">登录</button></li>
						<li><button type="button" class="btn btn-info" data-toggle="modal" data-target="#register">注册</button></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="col-lg-10">
			<div class="jumbotron">
				<div class="container">
					<h1>Bootstrap</h1>
					<h2>简洁、直观、强悍的前端开发框架，让web开发更迅速、简单</h2>
					<div class="row">
						<div class="form-group form-group-lg container-body">
							<div class="col-lg-8 col-lg-offset-2 input-group">
								<input type="text" class="form-control input-group-lg" id="search" placeholder="请输入搜索商品">
								<span class="input-group-btn">
					      	  		<button class="btn btn-default btn-custom2" type="button">Go!</button>
						      	</span>
							</div>
						</div>
					</div>
					<h4>热门搜索：苹果、梨子、香蕉</h4>
				</div>
			</div>
			<div class="row" ng-controller="DemoController">
				<div class="col-lg-3" ng-repeat="x in name">
					<div class="thumbnail">
						<img src="img/201507171508446984.png" onclick="window.location.href='goodsShow.html'"/>
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-2 dynamic" ng-controller="DemoController">
			<div class="row">
			    <div class="input-group">
			      <textarea type="text" class="form-control" placeholder="Search for..." style="height: 51px;"></textarea>
			      <span class="input-group-btn">
		      	  <button class="btn btn-default btn-custom" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
			</div>
			<ul>
				<li ng-repeat="x in data">
					<div>
						<a href="#">
							<img class="img-thumbnail" src="img/201507171508446984.png"></img>
						</a>
					</div>
					<div class="dynamic-body">
						<span><a href="#">好叶叶孤城</a>：</span>
						<span>今天天不错。今天天不错。今天天不错。今天天不错。今天天不错。今天天不错。今天天不错。</span>
						<span class="time">1分钟前(<a href="#">20评</a>)</span>
						<span></span>
					</div>
				</li>
				
			</ul>
		</div>
		
		<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title text-center" id="gridSystemModalLabel">电商平台</h3>
		      </div>
		      <div class="modal-body div-padding">
		        <div class="container-fluid div-padding">
		          <div class="row div-padding">
		          	<div class="col-lg-8 col-lg-offset-2">
		           		<input type="text" class="form-control input-group-lg" id="search" placeholder="请输入邮箱地址">
		           	</div>
		          </div>
		          <div class="row div-padding">
		          	<div class="col-lg-8 col-lg-offset-2">
		           		<input type="password" class="form-control input-group-lg" id="search" placeholder="请输入密码">
		            </div>
		          </div>
		          <div class="row div-padding">
		          	<div class="col-lg-8 col-lg-offset-2">
		           		<input type="password" class="form-control input-group-lg" id="search" placeholder="确认密码">
		            </div>
		          </div>
		          <div class="row div-padding">
		            <div class="col-lg-8 col-lg-offset-2">
		            	<button type="button" class="btn btn-danger btn-block">注册</button>
		            </div>
		          </div>
		          <div class="row div-padding">
		            <div class="col-lg-4 col-lg-offset-6 text-right">
		            	<span>已有账号？&nbsp;</span>
		            	<a href="#" data-toggle="modal" data-target="#login" data-dismiss="modal">点击登录</a>		            
		            </div>
		          </div>
		        </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title text-center" id="gridSystemModalLabel">电商平台</h3>
		      </div>
		      <div class="modal-body div-padding">
		        <div class="container-fluid div-padding">
		          <div class="row div-padding">
		          	<div class="col-lg-8 col-lg-offset-2">
		           		<input type="text" class="form-control input-group-lg" id="search" placeholder="请输入邮箱地址">
		           	</div>
		          </div>
		          <div class="row div-padding">
		          	<div class="col-lg-8 col-lg-offset-2">
		           		<input type="password" class="form-control input-group-lg" id="search" placeholder="请输入密码">
		            </div>
		          </div>
		          <div class="row div-padding">
		            <div class="col-lg-8 col-lg-offset-2">
		            	<button type="button" class="btn btn-warning btn-block">登录</button>
		            </div>
		          </div>
		          <div class="row div-padding">
		            <div class="col-lg-4 col-lg-offset-2">
		            	<a href="#">忘记密码</a>		            
		            </div>
		            <div class="col-lg-5">
		            	<span>还没有账号？</span>
		            	<a href="#" data-toggle="modal" data-target="#register" data-dismiss="modal">点击注册>></a>		            
		            </div>
		          </div>
		        </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		

	</body>
	<script>
	</script>

</html>