<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="//cdn.bootcss.com/require.js/2.1.22/require.js" defer async="false" data-main="js/main"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet/less" type="text/css" href="less/public.less" />
		<link rel="stylesheet/less" type="text/css" href="less/userPlatform.less" />
	</head>
	<script>
		require(['../module/userPlatform']);
	</script>
	<body>
		<div class="container user-body">
			<div class="row">
				<div class="col-lg-10">
					<h1>交易商城</h1>
				</div>
				<div class="col-lg-2">
					<h1>个人中心</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 nav">
					<ul ng-controller="navController">
						<span>
							<h5>好叶叶孤城</h5>
							<img src="img/201507171508446984.png" />
						</span>
						<li ng-repeat="x in nav">
							<h3><a href="{{x.url}}">{{x.title}}</a></h3>
						</li>
					</ul>
				</div>
				
				<div class="col-lg-10 info">
					<div class="row">
						<div class="col-lg-12">
							<table class="table table-striped" ng-controller="DemoController">
								<thead>
									<td><h3>#</h3></td>
									<td><h3>图片</h3></td>
									<td><h3>名称</h3></td>
									<td><h3>价格</h3></td>
									<td><h3>描述</h3></td>
									<td><h3>数量</h3></td>
								</thead>
								<tbody>
									<tr ng-repeat="x in data">
										<td><h3>1</h3></td>
										<td><div><img src="img/201507171508446984.png"/></div></td>
										<td><p>新百伦球鞋</p></td>
										<td><h3>300$</h3></td>
										<td><p>时尚跑鞋</p></td>
										<td><h3>5</h3></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4">
							<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
